@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


@font-face{
    font-family: 'BR';
    src: url(../BR_FONT/BR/배스킨라빈스\ B.ttf);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;

}
html,body{
    /* overflow-x: hidden; */
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
ol,ul,li{
    list-style: none;
}
body{
    color: #483834;
}